<!DOCTYPE html>
<html>
<head>
    <style>
        .cen{
          display: flex;
          justify-content: center;
          align-items: center;
        }
    </style>
</head>
<body>
    <img src="https://raw.githubusercontent.com/Annycsystems/Natura/main/logo_nvo_ngo_com.png" alt="" width="20%" style="height:auto;display:block;" >
    <h2 align="center">Querido(a) Consultor de Belleza Natura</h2><br>
    <h1 align="center"> {{ nombre }} </h1>
    <hr style="color:#eb6619;"><br>
    <h2 align="center">Hemos recibido tu solicitud de actualización de datos <br>
        <u> {{ solicitud }}</u><br> con folio: <u><b>{{ folio }}.</b></u></h2><br>
    <h3 align="center">En breve te compartiremos el resultado.<br>
    <h3 align="center">Da seguimiento a tu solicitud a través de la plataforma de cambio de datos.<br>
        Da seguimiento a tu solicitud <a style="color: #000000;" href="/bienvenida">clic aquí</a></h3><br>
    <h2 align="center" style="color: #eb6619"><b>El mundo es más bonito contigo.</b></h2><br>
    <div style="background-color:#000000;" class="cen">
        <table style="margin: auto;">
            <tr>
                <td align="center">
                    <h4 style="color: #ffffff;"><b><a style="color: #ffffff;" href="https://www.natura.com.mx/" target="_blank">www.natura.mx</a></b></h4>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h4 style="color: #ffffff;"><b>Centro de Atención Natura (CAN)</br>
                        55 5001 7801</b></h4>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h4 style="color: #ffffff;"><b>Consulta nuestro aviso de privacidad <a style="color: #ffffff;" target="_blank" href="https://www.natura.com.mx/politica-de-privacidad">aquí</a></b></h4>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td>-->
<!--                    <div class="container social">-->
<!--                        <a style="width: 30%;" href="https://www.facebook.com/natura.mexico" target="_blank"><img class="socimg" src="web_pac2/static/css/imgs/facebook-logo.png" alt="facebook"></a>-->
<!--                        <a style="width: 30%;" href="https://www.youtube.com/@naturamx" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/youtube.png" alt="youtube"></a>-->
<!--                        <a style="width: 30%;" href="https://twitter.com/natura_mexico" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/twitter.png" alt="twitter"></a>-->
<!--                        <a style="width: 30%;" href="https://www.instagram.com/natura.mexico/?hl=es" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/instagram.png" alt="instagram"></a>-->
<!--                        <a style="width: 30%;" href="https://mx.linkedin.com/company/natura-mexico" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/linkedin.png" alt="inkedin"></a>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
        </table>
    </div>
</body>
</html>