<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ADN Natura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/styless6.css' %}" rel="stylesheet" id="style">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
    body {
        background-image: url("web_pac2/static/css/imgs/logo_nvo_ngo_com.png");
        background-repeat: no-repeat;
        background-size: 20%;
        background-position:0% -1%;
    }

    .etiNom{
        display: inline-block;
        width:10px;
    }

    @media screen and (max-width: 420px) {

        body {
            background-image: url("web_pac2/static/css/imgs/logo_nvo_ngo_com.png");
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: 3% 1%;
        }

        .cen{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .texto{
          margin-top: 25%;
        }

        .priv{
            font-size: 15px;
            margin-top: -10px
        }

        .privv{
            margin-top: -15px;
        }

        .redes{
            width: 30%;
            margin-top: 30px;
        }

        .soporte{
            display: block;
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
            background:rgb(235,102,25);
            margin-top: 0px;
            position: absolute;
            right: 25px;
            z-index:3;
        }

        .bold-small{
            margin-top: 8%;
        }

        .form{
            width: 100%;
        }

        .campocp{
            width: 135px;
        }

        .camponum{
            width: 135px;
        }

        .campo{
            width: 135px;
        }

        .enviar{
            width: 70px;
        }

        .default{
            margin-top: -10px;
        }

    }

    @media screen and (min-width: 800px) {

        .alin{
            text-align: right;
        }

        .etiNom{
            width: 50px;
        }

        .redes{
            width: 15%;
            margin-top: 5px;
        }

        .soporte{
            display: block;
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            background:rgb(235,102,25);
            margin-top: 25px;
            position: absolute;
            right: 25px;
            z-index:3;
        }

        .bold-small{
            margin-top: 2%;
            margin-bottom: 10px;
        }

        .form{
            width: 60%;
        }

    }
    </style>
    <script>
       $(document).ready(function(){
            var tex2
            var tex3
            var strquotes = /(')/g
                tex2= "{{ data2|safe }}"
                tex3= tex2.length
                tex2= tex2.substr(11,tex3)
                tex3= tex2.length-2
                tex2= tex2.substr(0,tex3)
                tex2= tex2.replace(strquotes, String.fromCharCode(34))
            var prue2 = JSON.parse(tex2);
                tex2= "CN=" + prue2.Codigo_CN
                document.cookie = tex2;
        });

        function desactivar(){
            document.getElementById("botonesDatos").style.display = "none";
            document.getElementById("botonesEstatus").style.display = "none";
            document.getElementById("botonesDomicilio").style.display = "none";
            document.getElementById("botonesDatosG").style.display = "none";
        }
        function activarDatos(){
            document.getElementById("botonesDatos").style.display = "block";
            document.getElementById("botonesEstatus").style.display = "none";
            document.getElementById("grid").style.display = "none";
<!--            document.getElementById("closeal").style.display = "none";-->
        }

        function tkn(){
                var charset= "0123456789"
                const max = charset.length;
                let rstr = "";

                for (let i = 6; i > 0; i--) {
                  let idx = Math.floor(Math.random() * max);
                  rstr += charset[idx];
                }
                var hash = CryptoJS.SHA256(rstr); //sha256 caracteres y num
                document.cookie = "tkn=" + hash + "; max-age=300";
                $("#tk").val(rstr);
		}

        function activarEstatus(){
            document.getElementById("botonesDatos").style.display = "none";
            document.getElementById("botonesEstatus").style.display = "block";
            document.getElementById("botonesDomicilio").style.display = "none";
            document.getElementById("botonesDatosG").style.display = "none";
        }
        function activarDomicilio(){
            document.getElementById("botonesDomicilio").style.display = "block";
            document.getElementById("botonesDatosG").style.display = "none";
        }
        function activarDatosG(){
            document.getElementById("botonesDomicilio").style.display = "none";
            document.getElementById("botonesDatosG").style.display = "block";
        }
        function activarDatosC(){
            document.getElementById("botonesDomicilio").style.display = "none";
            document.getElementById("botonesDatosG").style.display = "none";
        }
        function seleccionDatosG(){
            var value = document.getElementById('tipoDatosG').value;
            if(value == 1) {
                document.getElementById("nombre").style.display = "block";
                document.getElementById("RFC").style.display = "none";
                document.getElementById("CURP").style.display = "none";
            } else if(value == 2) {
                document.getElementById("nombre").style.display = "none";
                document.getElementById("RFC").style.display = "block";
                document.getElementById("CURP").style.display = "none";
            } else {
                document.getElementById("nombre").style.display = "none";
                document.getElementById("RFC").style.display = "none";
                document.getElementById("CURP").style.display = "block";
            }
        }

        function mostrarGrid(){
            document.getElementById("grid").style.display = "initial";
        }

        function Bus_CP(){
            var estado = document.getElementById('estado');
            var municipio = document.getElementById('municipio');
            var cp = $("#cp").val();
            url = 'http://127.0.0.1:8000/api/';
            url = url + cp;
            axios.get(url)
              .then(response => {
                 datos = response.data;// response.data ya es un JSON
                 $("#estado").val(datos["estado"]);
                 document.getElementById("estado").readOnly=true;
                 $("#municipio").val(datos["municipio"]);
                 document.getElementById("municipio").readOnly=true;
                 var select = document.getElementById("selectColonia");
                 var cols = datos["colonias"];
                 document.getElementById("selectColonia").innerHTML= "";
                    for(var i = 0; i < cols.length; i++) {
                        var opt = cols[i];
                        var el = document.createElement("option");
                        el.textContent = opt;
                        el.value = opt;
                        select.appendChild(el);
                    }
              }, error => {
                console.log(error);
                alert("Codigo Postal incorrecto, favor de verificar longitud de 5 caracteres y que sea correcta la escritura.")
                $("#estado").val("");
                $("#municipio").val("");
                document.getElementById("selectColonia").innerHTML= "";
              });
        }

        function Bus_CP2(){
            var estado = document.getElementById('estado2');
            var municipio = document.getElementById('municipio2');
            var cp = $("#cp2").val();
            url = 'http://127.0.0.1:8000/api/';
            url = url + cp;
            axios.get(url)
              .then(response => {
                 datos = response.data;// response.data ya es un JSON
                 $("#estado2").val(datos["estado"]);
                 document.getElementById("estado2").readOnly=true;
                 $("#municipio2").val(datos["municipio"]);
                 document.getElementById("municipio2").readOnly=true;
                 var select = document.getElementById("selectColonia2");
                 var cols = datos["colonias"];
                 document.getElementById("selectColonia2").innerHTML= "";
                    for(var i = 0; i < cols.length; i++) {
                        var opt = cols[i];
                        var el = document.createElement("option");
                        el.textContent = opt;
                        el.value = opt;
                        select.appendChild(el);
                    }
              }, error => {
                console.log(error);
                alert("Codigo Postal incorrecto, favor de verificar longitud de 5 caracteres y que sea correcta la escritura.")
                $("#estado2").val("");
                $("#municipio2").val("");
                document.getElementById("selectColonia2").innerHTML= "";
              });
        }

        $(function(){
        $('input[type=radio][name=OTP][value=mail]').change(function() {
            var tex2
            var tex3
            var busq
            var busq2
            var ema
            var strquotes = /(')/g
                tex2= "{{ data|safe }}"
                tex3= tex2.length
                tex2= tex2.substr(11,tex3)
                tex3= tex2.length-2
                tex2= tex2.substr(0,tex3)
                tex2= tex2.replace(strquotes, String.fromCharCode(34))
            var prue2 = JSON.parse(tex2);
            busq = prue2.email.search('@');
            busq2= tex2.length;
            ema = prue2.email.substr(0,3) + '*****' + prue2.email.substr(busq,busq2)
            ema= "Correo electronico registrado: </br>" + ema
            document.getElementById('cont1').innerHTML=ema;
            $("#run").show();
        });
        });

        $(function(){
        $('input[type=radio][name=OTP2][value=mail]').change(function() {
            var tex2
            var tex3
            var busq
            var busq2
            var ema
            var strquotes = /(')/g
                tex2= "{{ data|safe }}"
                tex3= tex2.length
                tex2= tex2.substr(11,tex3)
                tex3= tex2.length-2
                tex2= tex2.substr(0,tex3)
                tex2= tex2.replace(strquotes, String.fromCharCode(34))
            var prue2 = JSON.parse(tex2);
            busq = prue2.email.search('@');
            busq2= tex2.length;
            ema = prue2.email.substr(0,3) + '*****' + prue2.email.substr(busq,busq2)
            ema= "Correo electronico registrado: </br>" + ema
            document.getElementById('cont2').innerHTML=ema;
            $("#run2").show();
        });
        });
        $(function(){
        $('input[type=radio][name=OTP3][value=mail]').change(function() {
            var tex2
            var tex3
            var busq
            var busq2
            var ema
            var strquotes = /(')/g
                tex2= "{{ data|safe }}"
                tex3= tex2.length
                tex2= tex2.substr(11,tex3)
                tex3= tex2.length-2
                tex2= tex2.substr(0,tex3)
                tex2= tex2.replace(strquotes, String.fromCharCode(34))
            var prue2 = JSON.parse(tex2);
            busq = prue2.email.search('@');
            busq2= tex2.length;
            ema = prue2.email.substr(0,3) + '*****' + prue2.email.substr(busq,busq2)
            ema= "Correo electronico registrado: </br>" + ema
            document.getElementById('cont3').innerHTML=ema;
            $("#run3").show();
        });
        });

        $(function(){
        $('input[type=radio][name=OTP][value=SMS]').change(function() {
            var tex2
            var tex3
            var busq
            var busq2
            var ema
            var strquotes = /(')/g
                tex2= "{{ data|safe }}"
                tex3= tex2.length
                tex2= tex2.substr(11,tex3)
                tex3= tex2.length-2
                tex2= tex2.substr(0,tex3)
                tex2= tex2.replace(strquotes, String.fromCharCode(34))
            var prue2 = JSON.parse(tex2);
            busq2= prue2.tel_cel.length;
            tel = prue2.tel_cel.substr(0,2) + '*****' + prue2.tel_cel.substr(7,10)
            ema= "Teléfono celular registrado: </br>" + tel
            document.getElementById('cont1').innerHTML=ema;
            $("#run").show();
        });
        });

        $(function(){
        $('input[type=radio][name=OTP2][value=SMS]').change(function() {
            var tex2
            var tex3
            var busq
            var busq2
            var ema
            var strquotes = /(')/g
                tex2= "{{ data|safe }}"
                tex3= tex2.length
                tex2= tex2.substr(11,tex3)
                tex3= tex2.length-2
                tex2= tex2.substr(0,tex3)
                tex2= tex2.replace(strquotes, String.fromCharCode(34))
            var prue2 = JSON.parse(tex2);
            busq2= prue2.tel_cel.length;
            tel = prue2.tel_cel.substr(0,2) + '*****' + prue2.tel_cel.substr(7,10)
            ema= "Teléfono celular registrado: </br>" + tel
            document.getElementById('cont2').innerHTML=ema;
            $("#run2").show();
        });
        });
        $(function(){
                $('input[type=radio][name=OTP3][value=SMS]').change(function() {
                    var tex2
                    var tex3
                    var busq
                    var busq2
                    var ema
                    var strquotes = /(')/g
                        tex2= "{{ data|safe }}"
                        tex3= tex2.length
                        tex2= tex2.substr(11,tex3)
                        tex3= tex2.length-2
                        tex2= tex2.substr(0,tex3)
                        tex2= tex2.replace(strquotes, String.fromCharCode(34))
                    var prue2 = JSON.parse(tex2);
                    busq2= prue2.tel_cel.length;
                    tel = prue2.tel_cel.substr(0,2) + '*****' + prue2.tel_cel.substr(7,10)
                    ema= "Teléfono celular registrado: </br>" + tel
                    document.getElementById('cont3').innerHTML=ema;
                    $("#run3").show();
                });
                });


<!--        //-->

        function showContent() {
            var lasCookies = document.cookie.replace(/(?:(?:^|.*;\s*)CN\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            $("#codi").val(lasCookies);
            element = document.getElementById("formdomi");
            check = document.getElementById("op1");
            check2 = document.getElementById("op2");
            x = $("#direct").val();
            if (check.checked) {
                element.style.display='block';
                if ( x.length >= 0) {
                    $("#direct").val(x + ' Entrega');
                }
                else{
                    $("#direct").val(x + 'Entrega');
                }
            }
            else if (!(check2.checked)) {
                element.style.display='none';
                document.getElementById("direct").value = "";
            }
        }

        function showContent2() {
            var lasCookies = document.cookie.replace(/(?:(?:^|.*;\s*)CN\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            $("#codi").val(lasCookies);
            element = document.getElementById("formdomi");
            check = document.getElementById("op1");
            check2 = document.getElementById("op2");
            x = $("#direct").val();
            if (check2.checked) {
                element.style.display='block';
                if ( x.length >= 0) {
                    $("#direct").val(x + ' Alternativo');
                }
                else{
                    $("#direct").val(x + 'Alterativo');
                }
            }
            else if (!(check.checked)){
                element.style.display='none';
                document.getElementById("direct").value = "";
            }
        }
        function showContent3() {
            var lasCookies = document.cookie.replace(/(?:(?:^|.*;\s*)CN\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            $("#codi2").val(lasCookies);
            element = document.getElementById("formdomi2");
            element2 = document.getElementById("formdomi3");
            check = document.getElementById("op3");
            check2 = document.getElementById("op4");
            var checkbox = document.getElementById("op4");
            if (check.checked) {
                checkbox.checked = false;
                element2.style.display='none';
                element.style.display='block';
                $("#direct2").val('Fiscal');
            }
        }        
        
        function showContent4() {
            var lasCookies = document.cookie.replace(/(?:(?:^|.*;\s*)CN\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            $("#codi3").val(lasCookies);
            element = document.getElementById("formdomi3");
            element2 = document.getElementById("formdomi2");
            check = document.getElementById("op3");
            check2 = document.getElementById("op4");
            var checkbox = document.getElementById("op3");
            if (check2.checked) {
                checkbox.checked = false;
                element2.style.display='none';
                element.style.display='block';
                $("#RFC2").val('RFC');
            }
        }

<!--        //-->

        $(function(){
        $('#contacto').click(function (event)
        {
            activarDatosC();
        });
        });

        $(function(){
        $('#domicilio').click(function (event)
        {
            activarDomicilio();
        });
        });

        $(function(){
        $('#generales').click(function (event)
        {
            activarDatosG();
        });
        });

        function alerta()
        {
            var mensaje;
            mensaje = "Por favor verifica que todos los datos sean correctos antes de dar click en continuar";
            if (confirm(mensaje) == true) {
                tkn();
                $("#okfor").click();
            }
        }

        $(function(){
        $('#run').click(function (event)
        {
           alerta();
        });
        });

        function mayus(e) {
            e.value = e.value.toUpperCase();
        }
</script>


<body id="bod" onLoad="desactivar()" style="margin: 0 0 100px; padding: 0px;">
    <div style="text-align: center;">
        <button  class="soporte" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <img style="max-width: 80%; max-height: 80%;" src="web_pac2/static/css/imgs/cont_bco.png">
        </button>
        <div style="min-height: 10px; position: absolute; right: 25px; margin-top: 7%;">
            <label class="texto">¿Necesitas Ayuda?</label>
          <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: 300px;">
              Centro de Atención Natura (CAN)</br>
                55 5001 7801
            </div>
            <div class="card card-body" style="width: 300px;">
                <p>Preguntas frecuentes<a href="https://raw.githubusercontent.com/Annycsystems/Natura/main/Preguntas%20Frecuentes.pdf" target="_blank"> aquí</a></p>
            </div>
          </div>
        </div>
        <div>
            <p style="font-size: 2vw" class="bold"> </p><br>
            <p style="font-size: 2vw" class="bold"> </p><br>
            <p class="bold-small"> Selecciona el trámite que deseas realizar </p>
            <table class="cen">
                <tr>
                    <td>
                        <div class="dropdown">
                          <button style="width:97%; margin-right: 10px; height: 50px;" class="select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="activarDatos()">
                            Actualización de datos
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id="contacto" type="button" class="actualizacion" data-toggle="modal" data-target="#myModal">Datos de contacto</button>
                            <button class="actualizacion" type="button" id="domicilio">Domicilio(s)</button>
                            <button class="actualizacion" type="button" id="generales" style="display:none;">Informacíon facturación</button>
                          </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="select" style="width:90%; height: 50px;" onclick="activarEstatus()">Consulta estatus de solicitud</button>
                    </td>
                </tr>
            </table>
        </div>
    </div> <!--cabecera de botones-->

{% for msg in messages %}
    <div id="closeal" class="alert alert-success alert-dismissible show" role="alert">
      <strong>Atención!</strong> {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}<!--    alert de confirmacion-->

    <div id="botonesDatos"  display="none" style="text-align: center;">
        <button type="button" class="actualizacion" data-toggle="modal" data-target="#myModal" style="display:none;">Datos de contacto</button>
            <div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header" style="background-color:#eb6619;">
                    <h3 class="modal-title w-100 text-center" style="color:#ffffff;">Atención</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                      <p align="center">Para modificar tus datos de contacto, ingresa a</br>
                            Mi negocio en la seccion "Mi perfil".</p>
						<label>Conoce más </label><a href="https://www.youtube.com/embed/eCopZQge-Ow" target="_blank"> aqui</a>
                </div>
                <div class="modal-footer" style="align-items: baseline;">

                  <a href="https://minegocio.natura.com.mx/ingreso/mx?return_url=" target="_blank" onClick="window.open(this.href); return false;" data-dismiss="modal">Ir a Mi negócio</a>
				  <button type="button" class="enviar" data-dismiss="modal">Regresar</button>
                </div>

                </div>

                </div>
            </div> <!--modal-->
        <button type="button" class="actualizacion" onclick="activarDomicilio()" style="display:none;">Domicilio (s)</button>
        <button type="button" class="actualizacion" onclick="activarDatosG()" style="display:none;">Datos generales</button>
    </div> <!--Botones para cambio de datos-->

    <div class="mx-auto" id="botonesEstatus" style="width: 60%;">
        <span class="bold-smaller"> </span><br>
        <span class="bold-smaller">Ingresa tu número de folio </span><br>
        <form style="display: flex; flex-direction: column; align-items: center;" action="status" method="POST">
            <input id="folio" name="folio" type="text" class="campo-centrado cen" placeholder="Folio"><br>
            <button class="enviar">Aceptar</button><br>
            {% csrf_token %}
        </form>
        <div>
                {{ trac }}
        </div>
    </div>  <!--Botones para consulta de tickets-->

    <div class="form container-fluid" id="botonesDomicilio" style="margin-top: 15px;">
        <div style="width: 100%;">
            <h4 class="cen" style="font-size:15;"><b>Domicilio(s)</b></h4>
				<div style="text-align: center;">
					<label class="bold-small-centrado"style="margin-bottom: 10px;">Selecciona la(s) dirección(es) que quieres modificar:</label><br>
                    <table class="cen" style="display: inline;">
                        <tr>
                            <td>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" id="op1" value="Entrega" type="checkbox" role="switch" id="flexSwitchCheck1" onchange="javascript:showContent()">
                                  <label class="form-check-label" for="flexSwitchCheck1">Entrega&ensp;&ensp;</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" id="op2" value="Alternativo" type="checkbox" role="switch" id="flexSwitchCheck2" onchange="javascript:showContent2()">
                                  <label class="form-check-label" for="flexSwitchCheck2">Alternativo</label>
                                </div>
                            </td>
                        </tr>
                    </table>
				</div>
                <form id="formdomi" class="default" onkeydown="return event.key != 'Enter';" action="validate" method="post" enctype="multipart/form-data" style="display:none; width: 100%">{% csrf_token %}
                    <INPUT id="codi" name="codi" style="display:none;">
                    <INPUT id="direct" name="direct" style="display:none;">
                    <INPUT id="tk" name="tk" style="display:none;">
                    <label class="EtiNom" >Código postal </label>
                    <input id="cp" name="cp" type="text" class="campocp" placeholder="55555" required onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="5">
                    <button class="enviar" onclick="Bus_CP()">Consultar</button><br>
                    <label class="EtiNum">Estado </label>
                    <input id="estado" name="estado" align='right' type="text" class="camponum" readonly>
                    <label class="EtiNum"  >Alcaldía/Municipio</label>
                    <input name="municipio" id="municipio" type="text" class="camponum" readonly><br>
                    <label class="EtiNom"  >Colonia </label>
                    <select  id="selectColonia" name="selectColonia" class="campo" required> <option></option> </select><br>
                    <label class="EtiNom" >Calle </label>
                    <input id="calle" name="calle" type="text" class="campo" required><br>
                    <label class="EtiNum" >Número interior </label>
                    <input id="NoInt" name="NoInt" type="text" class="camponum" required>
                    <label class="EtiNum" >Número exterior </label>
                    <input id="NoExt" name="NoExt" type="text" class="camponum" required><br>
                    <label class="EtiNom" >Referencias </label>
                    <input id="Ref" name="Ref" type="text" class="campo"><br>
<!--                    <label class="EtiNom" >INE Frente/reverso </label>-->
<!--                    <input type="file" class="campo INEUp" style="display: inline;" name="INEUp" id="INEUp" required accept=".png, .jpg, .jpeg,.pdf">-->
                    <div class="col-sm" style="text-align: center;">
                        <br><p class="bold-small-centrado">Para validar tu identidad te enviaremos un código de validación
                            a tu correo o teléfono celular previamente registrado.</p>
                    <tr>
                        <input type="radio" name="OTP" value="mail" id="mail"/>
                        <label for="mail"> Correo electrónico </label>
                        <input type="radio" name="OTP" value="SMS" id="SMS"/>
                        <label for="SMS">SMS</label><br>
                        <div class="bold-small-centrado" id="cont1"></div>
                    </tr>
                    <a type="button" id="run" class="btn enviar"  style="display:none">Continuar</a>
                    <button type="submit" id="okfor" style="display:none">cont</button>
                    </div>
                </form>
        </div>
    </div> <!--Cambio de domicilio-->

    <div id="botonesDatosG" class="container-fluid" style="width: 60%; margin-top: 15px;">
        <div class="row">
            <h4 class="cen"><b>Información de facturación</b></h4>
                <div style="text-align: center;">
					<label class="bold-small-centrado"style="margin-bottom: 10px;">Selecciona la opción que quieres modificar:</label><br>
                    <table class="cen" style="display: inline;">
                        <tr>
                            <td>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" id="op3" value="Entrega" type="checkbox" role="switch" id="flexSwitchCheck3" onchange="javascript:showContent3()">
                                  <label class="form-check-label" for="flexSwitchCheck3">Domiciliio fiscal&ensp;&ensp;</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                  <input class="form-check-input" id="op4" value="Alternativo" type="checkbox" role="switch" id="flexSwitchCheck4" onchange="javascript:showContent4()">
                                  <label class="form-check-label" for="flexSwitchCheck4">RFC</label>
                                </div>
                            </td>
                        </tr>
                    </table>
				</div>
                <form id="formdomi2" class="default" onkeydown="return event.key != 'Enter';" action="validate" method="post" enctype="multipart/form-data" style="display:none;">{% csrf_token %}
                    <INPUT id="codi2" name="codi2" style="display:none;">
                    <INPUT id="direct2" name="direct" style="display:none;">
                    <INPUT id="tk2" name="tk2" style="display:none;">
                    <label class="EtiNom" style=" width: 5px;">Código postal </label>
                    <input id="cp2" name="cp2" type="text" class="campocp" placeholder="55555" required onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="5">
                    <button class="enviar" onclick="Bus_CP2()">Consultar</button><br>
                    <label class="EtiNum">Estado </label>
                    <input id="estado2" name="estado2" align='right' type="text" class="camponum" readonly>
                    <label class="EtiNum"  >Alcaldía/Municipio</label>
                    <input name="municipio2" id="municipio2" type="text" class="camponum" readonly><br>
                    <label class="EtiNom"  >Colonia </label>
                    <select  id="selectColonia2" name="selectColonia2" class="campo" required> <option></option> </select><br>
                    <label class="EtiNom" >Calle </label>
                    <input id="calle2" name="calle2" type="text" class="campo" onkeyup="mayus(this);" required><br>
                    <label class="EtiNum" >Número interior </label>
                    <input id="NoInt2" name="NoInt2" type="text" class="camponum" onkeyup="mayus(this);" required>
                    <label class="EtiNum" >Número exterior </label>
                    <input id="NoExt2" name="NoExt2" type="text" class="camponum" onkeyup="mayus(this);" required><br>
                    <label class="EtiNom" >Referencias </label>
                    <input id="Ref2" name="Ref2" type="text" onkeyup="mayus(this);" class="campo"><br>
                    <label class="EtiNom" >INE Frente/reverso </label>
                    <input type="file" class="campo" style="display: inline;" name="INEUp2" required accept=".png, .jpg, .jpeg,.pdf">
                    <div class="col-sm" style="text-align: center;">
                        <br><p class="bold-small-centrado">Para validar tu identidad te enviaremos un código de validación
                            a tu correo o teléfono celular previamente registrado.</p>
                    <tr>
                        <input type="radio" name="OTP2" value="mail" id="mail2"/>
                        <label for="mail2"> Correo electrónico </label>
                        <input type="radio" name="OTP2" value="SMS" id="SMS2"/>
                        <label for="SMS2">SMS</label><br>
                        <div class="bold-small-centrado" id="cont2"></div>
                    </tr>
                    <a type="button" id="run2" class="btn enviar"  style="display:none">Continuar</a>
                    <button type="submit" id="okfor2" style="display:none">cont</button>
                    </div>
                </form>

                    <form id="formdomi3" class="default" onkeydown="return event.key != 'Enter';" action="validate" method="post" enctype="multipart/form-data" style="display:none;">{% csrf_token %}
                            <INPUT id="codi3" name="codi3" style="display:none;">
                            <INPUT id="RFC2" name="RFC2" style="display:none;">
                            <INPUT id="tk3" name="tk2" style="display:none;">
                            <label class="EtiNum">RFC</label>
                            <input id="INRFC" name="INRFC" type="text" class="camponum" required minlength="10" onkeyup="mayus(this);"  maxlength="10" required onkeypress="return (!(event.charCode >= 32 && event.charCode <= 47 || event.charCode >= 58 && event.charCode <= 64 || event.charCode >= 91 && event.charCode <= 96 || event.charCode >= 123 && event.charCode <= 255))">
                            <label class="EtiNum" align='right'>Homoclave</label>
                            <input id="INHOMO" name="INHOMO" type="text" class="camponum" required minlength="3" maxlength="3" onkeyup="mayus(this);"><br>
                            <label class="EtiNom">Identificación</label>
                            <input type="file" class="campo" style="display: inline;" name="idUp" required><br>
                            <label class="EtiNom">Constancia SAT</label>
                            <input type="file" class="campo" style="display: inline;" name="satUp" required>
                            <label style='float: right;'>No cuentas con ella,<br> click <a href="https://www.sat.gob.mx/aplicacion/53027/genera-tu-constancia-de-situacion-fiscal" target="_blank">aqui</a></label>
                    <div class="col-sm" style="text-align: center;">
                        <br><p class="bold-small-centrado">Para validar tu identidad te enviaremos un código de validación
                            a tu correo o teléfono celular previamente registrado.</p>
                    <tr>
                        <input type="radio" name="OTP3" value="mail" id="mail3"/>
                        <label for="mail"> Correo electrónico </label>
                        <input type="radio" name="OTP3" value="SMS" id="SMS3"/>
                        <label for="SMS">SMS</label><br>
                        <div class="bold-small-centrado" id="cont3"></div>
                    </tr>
                    <a type="button" id="run3" class="btn enviar"  style="display:none">Continuar</a>
                    <button type="submit" id="okfor3" style="display:none">cont</button>
                    </div>
                    </form>
    </div>
</div><!--Cambio de generales-->

    <footer style="height: 50px; width: 100%; overflow: hidden; background-color:#000000;">
        <div class="cen" style="text-align: center;">
            <table>
                <tr>
                    <div style="display:inline-block; position: absolute; text-align: center;">
                        <h4 style="color: #ffffff;"class="privv"><b class="priv">Consulta nuestro Aviso de Privacidad.</b></h4>
                    </div>
                    <td class="alin">
                        <div class="redes" style="display: inline-block; text-align: right; vertical-align: text-bottom;">
                            <a href="https://mx.linkedin.com/company/natura-mexico" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/linkedin.png" alt="inkedin"></a>
                            <a href="https://www.instagram.com/natura.mexico/?hl=es" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/instagram.png" alt="instagram"></a>
                            <a href="https://twitter.com/natura_mexico" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/twitter.png" alt="twitter"></a>
                            <a href="https://www.youtube.com/@naturamx" target="_blank"><img class="socimg"src="web_pac2/static/css/imgs/youtube.png" alt="youtube"></a>
                            <a href="https://www.facebook.com/natura.mexico" target="_blank"><img class="socimg" src="web_pac2/static/css/imgs/facebook-logo.png" alt="facebook"></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>